<a href="https://colab.research.google.com/github/IndraniMandal/New-Revisions/blob/main/Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation
Pandas supports 1-D (Series), 2-D (DataFrame), and 3-D (Panel) data structures. Here we cover DataFrames because they most closely resemble the kind of data tables data scientists mostly look at.

The advantage of Pandas is that it stores the data together with its metadata.

The most often used meta data with Pandas are the column names and the index.

The following data and part of code was taken from a [Data Carpentry workshop](https://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html).

## Load Data

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/IndraniMandal/ds-assets/main/assets/gapminder_gdp_europe.csv')
data.head()

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
1,Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
2,Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
3,Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
4,Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [2]:
data.shape

(30, 13)

# Dataframe Parts

In [3]:
data.columns

Index(['country', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

In [ ]:
data.index

RangeIndex(start=0, stop=30, step=1)

In [ ]:
data.values

array([['Albania', 1601.056136, 1942.284244, 2312.888958, 2760.196931,
        3313.422188, 3533.00391, 3630.880722, 3738.932735, 2497.437901,
        3193.054604, 4604.211737, 5937.029526],
       ['Austria', 6137.076492, 8842.59803, 10750.72111, 12834.6024,
        16661.6256, 19749.4223, 21597.08362, 23687.82607, 27042.01868,
        29095.92066, 32417.60769, 36126.4927],
       ['Belgium', 8343.105127, 9714.960623, 10991.20676, 13149.04119,
        16672.14356, 19117.97448, 20979.84589, 22525.56308, 25575.57069,
        27561.19663, 30485.88375, 33692.60508],
       ['Bosnia and Herzegovina', 973.5331948, 1353.989176, 1709.683679,
        2172.352423, 2860.16975, 3528.481305, 4126.613157, 4314.114757,
        2546.781445, 4766.355904, 6018.975239, 7446.298803],
       ['Bulgaria', 2444.286648, 3008.670727, 4254.337839, 5577.0028,
        6597.494398, 7612.240438, 8224.191647, 8239.854824, 6302.623438,
        5970.38876, 7696.777725, 10680.79282],
       ['Croatia', 3119.23652, 4338.231617, 5477.890018, 6960.297861,
        9164.090127, 11305.38517, 13221.82184, 13822.58394, 8447.794873,
        9875.604515, 11628.38895, 14619.22272],
       ['Czech Republic', 6876.14025, 8256.343918, 10136.86713,
        11399.44489, 13108.4536, 14800.16062, 15377.22855, 16310.4434,
        14297.02122, 16048.51424, 17596.21022, 22833.30851],
       ['Denmark', 9692.385245, 11099.65935, 13583.31351, 15937.21123,
        18866.20721, 20422.9015, 21688.04048, 25116.17581, 26406.73985,
        29804.34567, 32166.50006, 35278.41874],
       ['Finland', 6424.519071, 7545.415386, 9371.842561, 10921.63626,
        14358.8759, 15605.42283, 18533.15761, 21141.01223, 20647.16499,
        23723.9502, 28204.59057, 33207.0844],
       ['France', 7029.809327, 8662.834898, 10560.48553, 12999.91766,
        16107.19171, 18292.63514, 20293.89746, 22066.44214, 24703.79615,
        25889.78487, 28926.03234, 30470.0167],
       ['Germany', 7144.114393, 10187.82665, 12902.46291, 14745.62561,
        18016.18027, 20512.92123, 22031.53274, 24639.18566, 26505.30317,
        27788.88416, 30035.80198, 32170.37442],
       ['Greece', 3530.690067, 4916.299889, 6017.190733, 8513.097016,
        12724.82957, 14195.52428, 15268.42089, 16120.52839, 17541.49634,
        18747.69814, 22514.2548, 27538.41188],
       ['Hungary', 5263.673816, 6040.180011, 7550.359877, 9326.64467,
        10168.65611, 11674.83737, 12545.99066, 12986.47998, 10535.62855,
        11712.7768, 14843.93556, 18008.94444],
       ['Iceland', 7267.688428, 9244.001412, 10350.15906, 13319.89568,
        15798.06362, 19654.96247, 23269.6075, 26923.20628, 25144.39201,
        28061.09966, 31163.20196, 36180.78919],
       ['Ireland', 5210.280328, 5599.077872, 6631.597314, 7655.568963,
        9530.772896, 11150.98113, 12618.32141, 13872.86652, 17558.81555,
        24521.94713, 34077.04939, 40675.99635],
       ['Italy', 4931.404155, 6248.656232, 8243.58234, 10022.40131,
        12269.27378, 14255.98475, 16537.4835, 19207.23482, 22013.64486,
        24675.02446, 27968.09817, 28569.7197],
       ['Montenegro', 2647.585601, 3682.259903, 4649.593785, 5907.850937,
        7778.414017, 9595.929905, 11222.58762, 11732.51017, 7003.339037,
        6465.613349, 6557.194282, 9253.896111],
       ['Netherlands', 8941.571858, 11276.19344, 12790.84956,
        15363.25136, 18794.74567, 21209.0592, 21399.46046, 23651.32361,
        26790.94961, 30246.13063, 33724.75778, 36797.93332],
       ['Norway', 10095.42172, 11653.97304, 13450.40151, 16361.87647,
        18965.05551, 23311.34939, 26298.63531, 31540.9748, 33965.66115,
        41283.16433, 44683.97525, 49357.19017],
       ['Poland', 4029.329699, 4734.253019, 5338.752143, 6557.152776,
        8006.506993, 9508.141454, 8451.531004, 9082.351172, 7738.881247,
        10159.58368, 12002.23908, 15389.92468],
       ['Portugal', 3068.319867, 3774.571743, 4727.954889, 6361.517993,
        9022.247417, 10172.48572, 11753.84291, 13039.30876, 16207.26663,
        17641.03156, 19970.90787, 20509.64777],
       ['Romania', 3144.613186, 3943.370225, 4734.997586, 6470.866545,
        8011.414402, 9356.39724, 9605.314053, 9696.273295, 6598.409903,
        7346.547557, 7885.360081, 10808.47561],
       ['Serbia', 3581.459448, 4981.090891, 6289.629157, 7991.707066,
        10522.06749, 12980.66956, 15181.0927, 15870.87851, 9325.068238,
        7914.320304, 7236.075251, 9786.534714],
       ['Slovak Republic', 5074.659104, 6093.26298, 7481.107598,
        8412.902397, 9674.167626, 10922.66404, 11348.54585, 12037.26758,
        9498.467723, 12126.23065, 13638.77837, 18678.31435],
       ['Slovenia', 4215.041741, 5862.276629, 7402.303395, 9405.489397,
        12383.4862, 15277.03017, 17866.72175, 18678.53492, 14214.71681,
        17161.10735, 20660.01936, 25768.25759],
       ['Spain', 3834.034742, 4564.80241, 5693.843879, 7993.512294,
        10638.75131, 13236.92117, 13926.16997, 15764.98313, 18603.06452,
        20445.29896, 24835.47166, 28821.0637],
       ['Sweden', 8527.844662, 9911.878226, 12329.44192, 15258.29697,
        17832.02464, 18855.72521, 20667.38125, 23586.92927, 23880.01683,
        25266.59499, 29341.63093, 33859.74835],
       ['Switzerland', 14734.23275, 17909.48973, 20431.0927, 22966.14432,
        27195.11304, 26982.29052, 28397.71512, 30281.70459, 31871.5303,
        32135.32301, 34480.95771, 37506.41907],
       ['Turkey', 1969.10098, 2218.754257, 2322.869908, 2826.356387,
        3450.69638, 4269.122326, 4241.356344, 5089.043686, 5678.348271,
        6601.429915, 6508.085718, 8458.276384],
       ['United Kingdom', 9979.508487, 11283.17795, 12477.17707,
        14142.85089, 15895.11641, 17428.74846, 18232.42452, 21664.78767,
        22705.09254, 26074.53136, 29478.99919, 33203.26128]], dtype=object)

In [2]:
df = data.set_index('country')
df

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,3119.236520,4338.231617,5477.890018,6960.297861,9164.090127,11305.385170,13221.821840,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,6876.140250,8256.343918,10136.867130,11399.444890,13108.453600,14800.160620,15377.228550,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,9692.385245,11099.659350,13583.313510,15937.211230,18866.207210,20422.901500,21688.040480,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,6424.519071,7545.415386,9371.842561,10921.636260,14358.875900,15605.422830,18533.157610,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,7029.809327,8662.834898,10560.485530,12999.917660,16107.191710,18292.635140,20293.897460,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,7144.114393,10187.826650,12902.462910,14745.625610,18016.180270,20512.921230,22031.532740,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,3530.690067,4916.299889,6017.190733,8513.097016,12724.829570,14195.524280,15268.420890,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,5263.673816,6040.180011,7550.359877,9326.644670,10168.656110,11674.837370,12545.990660,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,7267.688428,9244.001412,10350.159060,13319.895680,15798.063620,19654.962470,23269.607500,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.981130,12618.321410,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

In [3]:
data.set_index('country', inplace =True)
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

#Indexing and Slicing
For array-style indexing Pandas uses the **loc**, **iloc**, and **ix** indexers.

To access a value at the position $[i,j]$ of a DataFrame, we have two options, depending on what is the meaning of $i$ in use. Remember that a DataFrame provides an index as a way to identify the rows of the table; a row, then, has a position inside the table as well as a label, which uniquely identifies its entry in the DataFrame.

Using the **iloc** indexer, we can index the underlying array as if it is a simple array using row and column integer values (hence the i in iloc). The DataFrame index and column labels are maintained in the result:

We use `DataFrame.iloc[..., ...]` to select values by their (entry) position

In [ ]:
data.iloc[:2,1:4]

         gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Albania     1942.284244     2312.888958     2760.196931
Austria     8842.598030    10750.721110    12834.602400

In [ ]:
data.loc[: 'Austria','gdpPercap_1957': 'gdpPercap_1967' ]

         gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Albania     1942.284244     2312.888958     2760.196931
Austria     8842.598030    10750.721110    12834.602400

Notice that when slicing with an explicit index (i.e.,` data.loc['a':'c']`), the final index is included in the slice, while when slicing with an implicit index (i.e., `data.iloc[0:2]`), the final index is excluded from the slice.

The indexer **ix** allows the mix of integer and explicit indexing.

We can specify location by row and/or column name.

In [ ]:
data.loc["Albania", "gdpPercap_1952"]

1601.056136

In [8]:
data.loc[['Spain','France'], ['gdpPercap_1962', 'gdpPercap_1972']]

         gdpPercap_1962  gdpPercap_1972
country
Spain       5693.843879     10638.75131
France     10560.485530     16107.19171

We use `:` on its own to mean all columns or all rows

In [ ]:
data.loc["Albania", :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

Select multiple columns or rows using DataFrame.loc and a named slice

In [ ]:
data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In the above code, we discover that slicing using `loc` is **inclusive at both ends**, which differs from slicing using `iloc`, where slicing indicates everything up to but not including the final index.

#Use comparisons to select data based on value
* Comparison is applied element by element.
* Returns a similarly-shaped dataframe of `True` and `False`.

In [ ]:
# Use a subset of data to keep output readable.
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [ ]:
# Which values were greater than 10000 ?
subset > 10000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

We can use relational and boolean expressions when selecting data from a dataframe.

In [12]:
data.gdpPercap_1952 > 10000

country
Albania                   False
Austria                   False
Belgium                   False
Bosnia and Herzegovina    False
Bulgaria                  False
Croatia                   False
Czech Republic            False
Denmark                   False
Finland                   False
France                    False
Germany                   False
Greece                    False
Hungary                   False
Iceland                   False
Ireland                   False
Italy                     False
Montenegro                False
Netherlands               False
Norway                     True
Poland                    False
Portugal                  False
Romania                   False
Serbia                    False
Slovak Republic           False
Slovenia                  False
Spain                     False
Sweden                    False
Switzerland                True
Turkey                    False
United Kingdom            False
Name: gdpPercap_1952, dtype: bool

In [23]:
data[data.gdpPercap_1952 > 10000].gdpPercap_2007

country
Norway         49357.19017
Switzerland    37506.41907
Name: gdpPercap_2007, dtype: float64

In [24]:
# Which countries had a GDP >10000 in 1952?
data[data.gdpPercap_1952 > 10000]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Norway,10095.42172,11653.97304,13450.40151,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017
Switzerland,14734.23275,17909.48973,20431.09270,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.53030,32135.32301,34480.95771,37506.41907

## Accessing attribute values for rows for which the equality holds

In [25]:
# What is the 2007 GDP of those countries that had a GDP >10000 in 1952? 
data[data.gdpPercap_1952 > 10000].loc[: , ['gdpPercap_1962', 'gdpPercap_2007']]

             gdpPercap_1962  gdpPercap_2007
country
Norway          13450.40151     49357.19017
Switzerland     20431.09270     37506.41907

In [30]:
# Which countries had a GDP greater than 10000 in 1962 and a GDP greater than 35,000 in 2007?
data[(data.gdpPercap_1962 > 10000) & (data.gdpPercap_2007 > 35000)]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Austria,6137.076492,8842.598030,10750.72111,12834.60240,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270
Denmark,9692.385245,11099.659350,13583.31351,15937.21123,18866.20721,20422.90150,21688.04048,25116.17581,26406.73985,29804.34567,32166.50006,35278.41874
Iceland,7267.688428,9244.001412,10350.15906,13319.89568,15798.06362,19654.96247,23269.60750,26923.20628,25144.39201,28061.09966,31163.20196,36180.78919
Netherlands,8941.571858,11276.193440,12790.84956,15363.25136,18794.74567,21209.05920,21399.46046,23651.32361,26790.94961,30246.13063,33724.75778,36797.93332
Norway,10095.421720,11653.973040,13450.40151,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017
Switzerland,14734.232750,17909.489730,20431.09270,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.53030,32135.32301,34480.95771,37506.41907

# Filtering

## Filtering using `isin()`

In [ ]:
data.index.isin(['Italy','Norway'])

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False])

Any Boolean vector can be used as filter.

In [ ]:
v = data.index.isin(['Italy','Norway'])
data[v]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Italy,4931.404155,6248.656232,8243.58234,10022.40131,12269.27378,14255.98475,16537.48350,19207.23482,22013.64486,24675.02446,27968.09817,28569.71970
Norway,10095.421720,11653.973040,13450.40151,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017

## Mask
A frame full of Booleans is sometimes called a mask because of how it can be used.

In [ ]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [ ]:
mask = subset > 10000
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

* Get the value where the mask is true, and NaN (Not a Number) where it is false.
* Useful because NaNs are ignored by operations like max, min, average, etc.

In [ ]:
subset[subset > 10000].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

#Group By: split-apply-combine
Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyse their data.

For instance, let’s say we want to have a clearer view on how the European countries split themselves according to their GDP.

1. We may have a glance by splitting the countries in two groups during the years surveyed, those who presented a GDP higher than the European average and those with a lower GDP.
2. We then estimate a wealthy score based on the historical (from 1962 to 2007) values, where we account how many times a country has participated in the groups of lower or higher GDP

In [ ]:
mask_higher = data > data.mean()
wealth_score = mask_higher.aggregate('sum', axis=1) / len(data.columns)
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

Finally, for each group in the `wealth_score` table, we sum their (financial) contribution across the years surveyed using chained methods

In [ ]:
data.groupby(wealth_score).sum()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,36916.854200,46110.918793,56850.065437,71324.848786,88569.346898,104459.358438,113553.768507,119649.599409,92380.047256,103772.937598,118590.929863,149577.357928
0.333333,16790.046878,20942.456800,25744.935321,33567.667670,45277.839976,53860.456750,59679.634020,64436.912960,67918.093220,80876.051580,102086.795210,122803.729520
0.500000,11807.544405,14505.000150,18380.449470,21421.846200,25377.727380,29056.145370,31914.712050,35517.678220,36310.666080,40723.538700,45564.308390,51403.028210
1.000000,104317.277560,127332.008735,149989.154201,178000.350040,215162.343140,241143.412730,263388.781960,296825.131210,315238.235970,346930.926170,385109.939210,427850.333420